<div
  id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
  class="cart-item__error"
  role="alert"
>
  <span class="cart-item__error-text"></span>
  <svg
    aria-hidden="true"
    focusable="false"
    class="icon icon-error"
    viewBox="0 0 30 30"
  >
    <path id="Icon_material-error-outline" data-name="Icon material-error-outline" d="M16.5,22.5h3v3h-3Zm0-12h3v9h-3ZM17.985,3A15,15,0,1,0,33,18,14.993,14.993,0,0,0,17.985,3ZM18,30A12,12,0,1,1,30,18,12,12,0,0,1,18,30Z" transform="translate(-3 -3)" fill="#cf5555"/>
  </svg>
</div>
