{% if title.size > 0 %}
  <div class="headline {% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}">
    {% render 'simple-block', prefix: 'headline', title: title %}
  </div>
{% endif %}
