<button
  class="wt-button shoppable-video__control-button shoppable-video__control-button--play {{ classname }}"
  aria-label="{{ 'aria-label.play-pause-button' | t }}"
>
  <span class="shoppable-video__icon-play">
    {% render 'icon-play' %}
  </span>
  <span class="shoppable-video__icon-pause">
    {% render 'icon-pause' %}
  </span>
</button>