<div class="wt-rating__stars">
  <div class="wt-rating__base">
    <div class="wt-rating__star"></div>
    <div class="wt-rating__star"></div>
    <div class="wt-rating__star"></div>
    <div class="wt-rating__star"></div>
    <div class="wt-rating__star"></div>
  </div>
  <div class="wt-rating__value" style="width: {{ percent }}%;">
    <div class="wt-rating__star-fill"></div>
    <div class="wt-rating__star-fill"></div>
    <div class="wt-rating__star-fill"></div>
    <div class="wt-rating__star-fill"></div>
    <div class="wt-rating__star-fill"></div>
  </div>
</div>
